@define-color red #d8572f;
@define-color orange #d98a3f;
@define-color blue #95a990;
@define-color purple #bf7076;
@define-color tan #be6c3c;
@define-color white #ccc68c;
@define-color brown #5e2919;
@define-color gray #988157;
@define-color black #000206;

* {
    border: none;
    border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 16px;
    min-height: 0;
    margin: 2px 4px;
    color: black;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    background-color: @gray;
}

#workspaces button.active {
    background-color: @purple;
}

#pulseaudio {
    padding: 0px 10px;
    background-color: @orange;
}

#network {
    padding: 0px 10px;
	background: @red;
}

#cpu {
    padding: 0px 10px;
	background: @blue;
}

#memory {
    padding: 0px 10px;
	background: @white;
}

#temperature {
    padding: 0px 10px;
    background-color: @tan;
}


#battery {
    padding: 0px 10px;
    background-color: @brown;
}

#clock {
    padding: 0px 10px;
    background-color: @purple;
}
